/* .carousel-item{
    height:500px
}


.carousel-caption{
    padding-bottom: 5%;
}
.carousel-caption h3{
    font-size: 49px;
    line-height: 49px;
    font-weight: 400;
    color: white;
    font-family: "Playfair Display";
}
.carousel-control-prev{
    left: 5%;
}
.carousel-control-next{
    right: 5%;
}
.carousel-control-prev ion-icon,
.carousel-control-next ion-icon{
    color:black;
    font-size: 25px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: black;
}
.carousel-control-prev:hover ion-icon,
.carousel-control-next:hover ion-icon{
    color:#FFF;
}
.carousel-indicators button{
    height:30px;
    width:30px;
    border-radius: 50%;
} */

